<ion-buttons slot="start">
  <ion-button routerLink="/tabs" fill="clear">
    <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
  </ion-button>
</ion-buttons>
<ion-text>
  <h1>Sign In</h1>
</ion-text>
<ion-button shape="round">
  <ion-item lines="none">
    <ion-icon aria-hidden="true" name="logo-google" slot="start"></ion-icon>
    <ion-label>Sign In With Google</ion-label>
  </ion-item>
</ion-button>
<ion-button shape="round">
  <ion-item lines="none">
    <ion-icon aria-hidden="true" name="logo-facebook" slot="start"></ion-icon>
    <ion-label>Sign In With Facebook</ion-label>
  </ion-item>
</ion-button>
<ion-button shape="round">
  <ion-item lines="none">
    <ion-icon aria-hidden="true" name="logo-apple" slot="start"></ion-icon>
    <ion-label>Sign In With Apple</ion-label>
  </ion-item>
</ion-button>
<ion-text>
  <h1>or</h1>
</ion-text>
<ion-button shape="round">
  Sign In With Password
</ion-button>
<ion-text>
  <span>Don't Have An Account?<span routerLink="/"> Sign Up</span></span>
</ion-text>