
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button routerLink="/tabs/tab3" fill="clear">
          <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>Liked Songs</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <h1>add Songs</h1>
    <ion-list>
      <ion-item *ngFor="let item of likedSongs">
        <ion-thumbnail slot="start">
          <img [src]="item.album.images[0].url" [alt]="item.name" />
        </ion-thumbnail>
        <ion-label>
          <h1>Artistas: 
            <span *ngFor="let artist of item.artists; let isLast = last">{{ artist.name }}<span *ngIf="!isLast">, </span></span>
          </h1>
          <h2>{{ item.name }}</h2>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-content>

