ion-menu {
  ion-header {
    --background: var(--ion-background-color);
    ion-toolbar {
      --background: var(--ion-background-color);
      ion-title {
        color: var(--ion-text-color);
        font-size: 1.5em;
      }
    }
  }
  
  ion-content {
    background: var(--ion-background-color);
    color: var(--ion-text-color);
    h6 {
      color: var(--ion-secondary-color);
      margin: 10px 0;
      font-size: 1.2em;
      text-shadow: 1px 1px var(--ion-accent-color);
    }
  }
}

ion-tabs {
  --background: var(--ion-background-color);
  
  ion-tab-bar {
    background: var(--ion-background-color);
    border-top: 1px solid var(--ion-accent-color);
    ion-tab-button {
      &.custom-button {
        background: var(--ion-background-color);
        border-radius: 15px;
        margin: 5px;
        padding: 5px;
        transition: background 0.3s ease;
        
        &.tab-selected {
          background: var(--ion-secondary-color);
        }
        
        ion-icon {
          color: var(--ion-text-color);
          &.custom-icon {
            font-size: 1.5em;
            transition: color 0.3s ease;
          }
        }
        
        ion-label {
          color: var(--ion-text-color);
          &.custom-label {
            font-size: 1em;
            transition: color 0.3s ease;
          }
        }
      }
      
      &.selected, &:active {
        background-color: var(--ion-secondary-color);
        ion-icon {
          color: var(--ion-primary-color);
        }
        ion-label {
          color: var(--ion-primary-color);
        }
      }
    }
  }
}
