<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button>
          <ion-icon name="menu-outline"></ion-icon>
        </ion-menu-button>
      </ion-buttons>
      <ion-title>Search</ion-title>
    </ion-toolbar>
    <ion-searchbar (ionInput)="search($event)"></ion-searchbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-list>
      <ng-container *ngFor="let item of searchResults">
        <!-- Artistas -->
        <ion-item *ngIf="item.type === 'artist'">
          <ion-avatar slot="start">
            <img *ngIf="item.images && item.images.length > 0" [src]="item.images[0].url" [alt]="item.name" />
          </ion-avatar>
          <ion-label>
            <h1>{{ item.name }}</h1>
            <h4>Artist</h4>
          </ion-label>
        </ion-item>

        <!-- Canciones -->
        <ion-item *ngIf="item.type === 'track'">
          <ion-thumbnail slot="start">
            <img [src]="item.album.images[0].url" [alt]="item.name" />
          </ion-thumbnail>
          <ion-label>
            <h1>Artistas: 
              <span *ngFor="let artist of item.artists; let isLast = last">{{ artist.name }}<span *ngIf="!isLast">, </span></span>
            </h1>
            <h2>{{ item.name }}</h2>
          </ion-label>
          <ion-buttons slot="end">
            <ion-button (click)="addToFavorites(item)">
              <ion-icon name="heart-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>
      </ng-container>
    </ion-list>
  </ion-content>
</div>


