.scroll-container {
    overflow-x: auto;
    white-space: nowrap;
}

.scroll-x {
    display: inline-block;
    margin-right: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    
    &:hover {
        transform: scale(1.05);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    }
}

.x-container {
    text-align: center;
    max-width: 130px;
    min-height: 140px;
}

ion-avatar {
    margin: 0 auto;
    width: 100px;
    height: 100px;
    border: 2px solid var(--ion-primary-color);
    border-radius: 50%;
    overflow: hidden;
    
    img {
        border-radius: 50%;
    }
}

.label-center {
    margin-top: 6px;
    display: block;
    width: 100%;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--ion-text-color);
    font-size: 1em;
    font-family: 'Baloo Bhai 2', cursive;
}

.img-playlist {
    --border-radius: 4px;
    width: 100px;
    height: 100px;
    overflow: hidden;
    
    img {
        border-radius: 4px;
    }
}

ion-item-divider {
    --color: var(--ion-text-color);
    text-align: center;
    font-size: 1.3em;
    font-family: 'Baloo Bhai 2', cursive;
    text-shadow: 1px 1px var(--ion-button-hover-color);
}

ion-button {
    --color: var(--ion-text-color);
    --background-hover: var(--ion-secondary-color);
    padding: 5px 10px;
    font-size: 0.9em;
    font-family: 'Baloo Bhai 2', cursive;
    
    &:hover {
        transform: scale(1.05);
    }
}


ion-thumbnail {
    --border-radius: 10px;
    overflow: hidden;
    
    img {
        border-radius: 10px;
    }
}


ion-label {
    font-size: 1em;
    
    h1, h2 {
        font-family: 'Baloo Bhai 2', cursive;
        color: var(--ion-text-color);
    }
    
    h1 {
        font-size: 1.2em;
        margin: 5px 0;
        font-weight: bold;

        span {
            color: var(--ion-text-color);
        }
    }
    
    h2 {
        font-size: 1em;
        color: var(--ion-text-color);
    }
}