<ion-app>
  <div *ngIf="isLoading" class="loading-container">
    <h1>Loading...</h1>
    <h1>Logged in as {{ userData.display_name }}</h1>
    <ion-spinner></ion-spinner>
  </div>
  <div class="login-initial" *ngIf="!isLoading && !userData">
    <img class="icono-bisonMusic" src="assets/icon/IconoApp.png" alt="BisonMusic">
    <h1 class=title>Welcome to BisonMusic</h1>
    <h1 class="subtitle">Discover the World Through Music</h1>
    <ion-button class="login-button" (click)="login()">Log in with Spotify</ion-button>
    <h5>No more options :c</h5>
  </div>
  <div *ngIf="!isLoading && userData">
    <ion-router-outlet></ion-router-outlet>
  </div>
</ion-app>
