<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/tabs" fill="clear">
        <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Support</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">

  <form #suggestionForm="ngForm">
    <ion-list>
      <ion-item>
        <ion-input label="Suggestion" name="msg" placeholder="Enter Suggestion" type="text" [(ngModel)]="message" required="true" mode="md" fill="outline"></ion-input>
      </ion-item>
    </ion-list>
    <ion-button expand="block" color="primary" [disabled]="suggestionForm.invalid" (click)="addDocument()" routerLink="/tabs" >
      Send Suggestion
    </ion-button>
  </form>
  <!--<form  #signUpForm="ngForm">
    <ion-list>
      <ion-item>
        <ion-input label="Name" name="name" placeholder="Enter name" type="text" [(ngModel)]="addUser.name" required="true" mode="md" fill="outline"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Last Name" name="lastName" placeholder="Enter last name" type="text" [(ngModel)]="addUser.lastName" required="true" mode="md" fill="outline"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Username" type="text" name="user" id="user" placeholder="Enter username" [(ngModel)]="addUser.user" required="true" mode="md" fill="outline"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Email" name="email" placeholder="Enter email" type="email" pattern=".+@gmail\.com" [(ngModel)]="addUser.email" required="true" mode="md" fill="outline"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Password" name="password" placeholder="Enter password" type="password" [(ngModel)]="addUser.password" required="true" mode="md" fill="outline"></ion-input>
      </ion-item>
    </ion-list>
    <ion-button expand="block" color="primary" [disabled]="signUpForm.invalid" routerLink="/tabs" (click)="addDocument()">Sign Up</ion-button>

  </form>-->
</ion-content>

